<section class="partial flipInX">
  <h3 style="margin: 0">Sync to Server</h3>
  <hr style="margin: 10px 0 30px 0" />
  <!--<div class="col-md-4"></div>-->
  <div class="col-md-12" style="margin:0 auto">
    <div style="text-align:center;
                display:inline-block;
                width:100%;
                margin: 0 auto;
                padding-left: 25%"
                id="sync">
      <ul>
        <li ng-click="send()"><i class="fa fa-upload fa-5x"></i><p>Send To Server</p></li>
        <li ng-click="receive()"><i class="fa fa-download fa-5x"></i><p>Receive From Server</p></li>
      </ul>
    </div>
  </div>
  <!-- /.col-md-3 -->
</section>